<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <form action="/fotos/findAllbyRate/view" class="d-flex" method="GET">
            <input class="form-control me-2" name="lower" type="text" placeholder="Inicio" aria-label="Search">
            <input class="form-control me-2" name="higher" type="text" placeholder="Fin" aria-label="Search">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</nav>